body, html {
    height: 100%;
    margin: 0;
    background: linear-gradient(to right, #26333d, #323741, #21214e);
    font-family: 'Segoe UI', sans-serif;
}

.chat {
    margin: auto;
}

.card {
    height: 500px;
    border-radius: 15px !important;
    background-color: rgba(0,0,0,0.4) !important;
}

.msg_card_body {
    overflow-y: auto;
    padding: 10px;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}

.card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}

.type_msg {
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
    height: 60px !important;
}

.type_msg:focus {
    box-shadow: none !important;
    outline: 0 !important;
}

.send_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.user_img {
    height: 70px;
    width: 70px;
    border: 1.5px solid #f5f6fa;
}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
}

.msg_cotainer {
    margin-left: 10px;
    border-radius: 25px;
    background-color: #52acff;
    padding: 10px;
    position: relative;
    color: white;
}

.msg_cotainer_send {
    margin-right: 10px;
    border-radius: 25px;
    background-color: #58cc71;
    padding: 10px;
    position: relative;
    color: white;
}

.msg_time, .msg_time_send {
    position: absolute;
    bottom: -15px;
    font-size: 10px;
    color: rgba(255,255,255,0.6);
}